<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>GameGround</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/b7f4bdb099.js" crossorigin="anonymous"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/switch.js}" type="text/javascript"></script>
    <script th:src="@{/js/showRate.js}" type="text/javascript"></script>
    <script th:src="@{/js/activeFilters.js}" type="text/javascript"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<main class="container py-5">
    <div th:insert="blocks/toTheTopButton :: toTheTop"></div>
    <h3 align="center" th:if="${register == true}" th:text="#{SuccessRegister}"></h3>
    <h3 align="center" th:if="${register == false}" th:text="#{RegisterFail}"></h3>
    <div>
        <div th:insert="blocks/searchBar :: searchBar"></div>
        <div class="d-flex flex-row justify-content-between w-75 mx-auto" th:if="${last6tags != null}">
            <div class="p-" th:each="tag: ${last6tags}">
                <a th:href="@{/{tag}(tag=${tag.tagName})}" class="text-decoration-none">
                    <button class="btn btn-primary" th:text="${tag.tagName}"></button>
                </a>
            </div>
        </div>
    </div>
    <h2 th:text="#{reviewsLabel}"></h2><hr><br>
    <div th:if="${searchResult != null}">
        <div th:if="${searchResult == true}"><h2  th:text="#{searchResults}+' '+${searchRequest}"></h2><hr><br></div>
        <div th:if="${searchResult == false}"><h2 th:text="#{nothingFound}"></h2><hr><br></div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <div class="col">
                        <h3 th:text="#{sortLabel}"></h3>
                        <div class="list-group">
                            <a th:href="@{/sort=dateASC}" class="list-group-item list-group-item-action list-group-item-dark" id="dateASC" th:text="#{date.ASC}"></a>
                            <a th:href="@{/sort=dateDSC}" class="list-group-item list-group-item-action list-group-item-dark" id="dateDSC" th:text="#{date.DSC}"></a>
                            <a th:href="@{/sort=ratingASC}" class="list-group-item list-group-item-action list-group-item-dark" id="ratingASC" th:text="#{rating.ASC}"></a>
                            <a th:href="@{/sort=ratingDSC}" class="list-group-item list-group-item-action list-group-item-dark" id="ratingDSC" th:text="#{rating.DSC}"></a>
                        </div>
                        <h3 th:text="#{filterLabel}"></h3>
                        <div class="list-group">
                            <a th:href="@{/filter=ratingGE4}" class="list-group-item list-group-item-action list-group-item-dark" id="ratingGE4" th:text="#{rating.GE4}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-lg-12 float-end" style="width: 100%">
                <div class="col" th:each="review: ${reviews}">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <img style="height: 100%; width: 200px; border-radius: 5px" th:src="@{'data:image/jpg;base64,'+${review.getEncodedPhoto()}}"/>
                                </div>
                                <div class="col">
                                    <a class="mb-0 text-decoration-none" th:href="@{/review/{id}(id=${review.id})}"><big th:text="${review.reviewName}"></big></a>
                                    <div id="reviewRate" style="display: inline" class="float-end">
                                        <script>displayRate([[${review.rate}]], "")</script>
                                    </div>
                                    <br>
                                    <br>
                                    <p class="mb-0" style="display: inline" th:text="#{genreLabel}"></p><p class="mb-0" th:text="${review.groupName}" style="display: inline"></p><br>
                                    <p class="mb-0" style="display: inline" th:text="#{tagLabelSimple}"></p><div th:each="tag: ${review.tags}" style="display: inline"><p class="mb-0" th:text="${tag.tagName}+' '" style="display: inline"></p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div>
    <footer th:insert="blocks/footer :: footer" style="position: fixed; bottom: 0; width: 100%;" id="footerMain"></footer>
    <script>
        if(screen.width<=1440){
            $("#footerMain").css('position', '', 'bottom', '', 'width', '');
        }
    </script>
</div>
</body>
</html>