<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Review</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/b7f4bdb099.js" crossorigin="anonymous"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/switch.js}" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script th:src="@{/js/showRate.js}" type="text/javascript"></script>
    <script th:src="@{/js/starsEvents.js}" type="text/javascript"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main class="container py-5">
    <div th:object="${review}">
        <div class="row">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="container">
                        <h1 th:text="${review.reviewName}"></h1>
                        <h3 class="mb-0" style="display: inline" th:text="#{genreLabel}"></h3><h3 class="mb-0" th:text="${review.groupName}" style="display: inline"></h3><br>
                        <h6 class="mb-0 text-muted" style="display: inline" th:text="#{tagLabelSimple}"></h6><div th:each="tag: ${review.tags}" style="display: inline"><h6 class="mb-0 text-muted" th:text="${tag.tagName}+' '" style="display: inline"></h6></div>
                    </div>
                    <br><br><p style="max-width: 70%; margin: auto" th:utext="${review.text}"></p>
                    <div class="container">
                        <div id="reviewRate">
                            <script>displayRate([[${review.rate}]], 'fa-2xl')</script>
                        </div><br>
                        <h4 class="mb-0" style="display: inline" th:text="#{author}"></h4><h4 style="display: inline"><a th:text="${review.user.firstName}+' '+${review.user.lastName}" th:href="@{/profile/{id}(id=${review.user.id})}" class="text-decoration-none"></a></h4>
                        <p class="text-muted" th:text="${review.publishDate}"></p>
                    </div>
                    </div>
                </div>
            </div>
             <div id="rateReview" class="row" sec:authorize="isAuthenticated()" th:if="${ratePossibility == true}">
                <div class="col-3">
                    <form th:action="@{review/{reviewID}/add_rate/{userID}(reviewID=${review.id}, userID=${currentUserID})}" method="post">
                        <button type="submit" style="background: transparent; color: white; border: none" name="rStar" th:value="1"><i class="fa-regular fa-star fa-2xl" id="rStar1"></i></button>
                        <button type="submit" style="background: transparent; color: white; border: none" name="rStar" th:value="2"><i class="fa-regular fa-star fa-2xl" id="rStar2"></i></button>
                        <button type="submit" style="background: transparent; color: white; border: none" name="rStar" th:value="3"><i class="fa-regular fa-star fa-2xl" id="rStar3"></i></button>
                        <button type="submit" style="background: transparent; color: white; border: none" name="rStar" th:value="4"><i class="fa-regular fa-star fa-2xl" id="rStar4"></i></button>
                        <button type="submit" style="background: transparent; color: white; border: none" name="rStar" th:value="5"><i class="fa-regular fa-star fa-2xl" id="rStar5"></i></button>
                    </form>
                </div>
             </div>
        </div>
        <div class="row">
            <div class="container" sec:authorize="isAuthenticated()">
                <hr><br>
                <div class="row">
                    <div class="col-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <form th:action="@{/review/{reviewID}/add_comment/{userID}(reviewID=${review.id}, userID=${currentUserID})}" method="post" th:object="${newComment}">
                                    <div class="form-group">
                                        <label for="commentField" class="col-sm-2">
                                            <span class="h6 small text-muted pt-1 pl-2 pr-2" th:text="#{commentLabel}"></span>
                                        </label>
                                        <textarea type="text" rows="4" id="commentField" class="form-control mt-n3" th:field="*{text}" autocomplete="off" required></textarea>
                                    </div>
                                    <button class="btn btn-primary" style="margin-top: 16px" type="submit" th:text="#{addCommentButton}"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container" th:each="comment: ${review.comments}">
                        <div class="col-9 float-end">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <a class="mb-0 text-decoration-none" style="display: inline" th:href="@{/profile/{id}(id=${comment.user.id})}"><big th:text="${comment.user.firstName}+' '+${comment.user.lastName}"></big></a> <p class="text-muted float-end" style="display: inline" th:text="${comment.publishDate}"></p><br>
                                    <p class="mb-0" th:text="${comment.text}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>