<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="#{adminPanel}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/check.js}" type="text/javascript" ></script>
    <script src="https://kit.fontawesome.com/b7f4bdb099.js" crossorigin="anonymous"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body class="bg-dark">
<header th:insert="blocks/header :: header" class="text-white"></header>

    <main class="text-center w-100 h-100 text-white p-3 mx-auto flex-column">
        <div class="position-relative" th:insert="blocks/toTheTopButton :: toTheTop"></div>
        <h1>GameGround Admin Panel</h1>
        <form th:action="@{/users/control}" method="post">
            <div align="left">
                <button name="button" th:value="Block" type="submit" style="margin-right: 10px; background: transparent; color: white; border: none" disabled><i class="fa-solid fa-lock fa-lg"></i></button>
                <button name="button" th:value="Unblock" type="submit" style="margin-right: 10px; background: transparent; color: white; border: none" disabled><i class="fa-solid fa-lock-open fa-lg"></i></button>
                <button name="button" th:value="Delete" type="submit" style="background: transparent; color: white; border: none" disabled><i class="fa-solid fa-xmark fa-lg"></i></button>
                <button name="button" th:value="SetAdmin" type="submit" style="background: transparent; color: white; border: none" disabled><i class="fa-solid fa-crown fa-lg"></i></button>
            </div>
            <div>
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th><input type="checkbox" id="checkUncheck" onchange="checkAll(); checkCheckboxes();" class="form-check" title="multiple selection"></th>
                        <th>User ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>E-mail</th>
                        <th>Registration date</th>
                        <th>Last login date</th>
                        <th>Status</th>
                        <th>Roles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user: ${users}">
                        <td><input type="checkbox" name="checkbox" onchange="checkCheckboxes()" th:value="${user.id}" class="form-check"></td>
                        <td><a th:href="@{/profile/{userID}(userID=${user.id})}" th:text="${user.id}"/></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.registrationDate}"></td>
                        <td th:text="${user.lastLoginDate}"></td>
                        <td th:if="${user.blocked == true}" th:text="Blocked"></td><td th:if="${user.blocked == false}" th:text="Unblocked"></td>
                        <td th:each="role: ${user.roles}" th:text="${role.name}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </main>
<footer th:insert="blocks/footer :: footer" class="text-white" style="position: fixed; bottom: 0; width: 100%;"></footer>
</body>
</html>