<div th:fragment="header">
    <div class="navbar navbar-dark bg-dark border-bottom" style="border-color: white">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand d-flex align-items-center">
                <strong>GameGround</strong>
            </a>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link" th:href="@{/}" th:text="#{homeLabel}"></a>
                <th:block sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" th:href="@{/users/list}" th:text="#{controlPanelLabel}"></a>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/profile/{id}/(id=${currentUserID})}"><b th:text="${#authentication.getPrincipal().getFullName()}"></b></a>
                    <a class="nav-link" sec:authorize="hasAuthority('ADMIN')"><strong>ADMIN</strong></a>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" style="background: transparent; border:none"><i class="fa-solid fa-door-open fa-xl text-white"></i></button>
                    </form>
                </th:block>
                <th:block sec:authorize="isAnonymous()">
                    <a th:href="@{/login}"><button class="btn btn-outline-primary me-2" th:text="#{logButtonLabel}"></button></a>
                    <a th:href="@{/register}"><button class="btn btn-primary" th:text="#{regButtonLabel}"></button></a>
                </th:block>
            </nav>
        </div>
    </div>
</div>