<div th:fragment="toTheTop" class="position-fixed" style="bottom: 30px; right: 30px">
  <div id="btn-back-to-top">
    <a href="#top">
      <button
              type="button"
              class="btn btn-danger btn-floating btn-lg"
              style="border-radius: 100%"
      >
        <i class="fas fa-arrow-up"></i>
      </button>
    </a>
  </div>
  <script>
    let btn = $("#btn-back-to-top");
    $(btn).fadeOut();
    $(document).scroll(function (){
      if($(window).scrollTop() == 0){
        $(btn).fadeOut();
      }
      else $(btn).fadeIn();
    });
  </script>
</div>